<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Book/List">Book Portal</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="~/News/Index">News</a></li>
                <li><a href="~/Book/List">Books</a></li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Book/UploadNewBook">Upload Book</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Account/ViewProfile"><span class="glyphicon glyphicon-info-sign"></span> Profile</a></li>
                    <li><a href="~/Account/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                }
                else
                {
                    <li><a href="~/Account/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="~/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="row panel">
        <div id="categories" class="col-xs-1">
        </div>
        <div class="col-xs-10">
            @RenderBody()
        </div>
        <div id="categories" class="col-xs-1">
        </div>
    </div>
</body>
</html>